*{
    padding: 0%;
    margin:0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
 
.container{
    max-width: 800px;
    margin: auto;
}
header{
    background-color: red;
    text-align: center;
    color: white;
    padding: 1,5px;

}
 .title{
     font-size: 26px;
     
 }

 section{
     padding: 10px;
     background-image: url(../images/palestrante.jpg);
     background-size: cover;
     overflow: hidden;
 }

.FormContainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 10px;
    float: right;
    font-size: 13px;
    
}


.mb{
    margin-bottom: 10px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    margin-bottom: 10px;
    
}

input[type="submit"]{
    color: white;
    background-color:red ;
    font-weight: bold;
}
 footer{
     background-color: #202121;
     padding: 40px;
     text-align: center;
 }
.picture{
    width: 200px;
    height: 200px;
    

}

.description{
    
    text-align: center;
    color: white;
    max-width: 40%;
    display: inline-block;
    margin-left: 40px;
    text-align: left;
}

.description p, .description h3{
    margin-bottom: 20px;

}

.description h3{
    font-size: 24px;
}

.h4{
    font-size: 20px;


}


